.button {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 2px 15px 2px 15px;
    width: 163px;
    height: 40px;
    border: 1px solid rgba(227, 228, 230, 0.55);
    background: transparent;
    border-radius: 100px;
    color: $neutral-first;
    text-transform: uppercase;
    &:hover {
        background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
        border: 1px solid #E3E4E6;
        border-radius: 100px;
    }
}

