.header {
    background: #27282D;
    padding-top: 24px;
    height: 90px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
        &-item {
            margin-right: 40px;
            list-style-type: none;
        }
        &-link {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            color: $neutral-first;
            transition: linear .2s;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__logo {
        align-items: center;
        font-weight: 600;
        font-size: 25px;
        color: $neutral-first;
        a {
            text-decoration: none;
            color: $neutral-first;
            transition: linear .2s;
            &:hover {
                color: $main-color;
            }
        }
    }
}
