.promo {
    position: relative;
    min-height: 100vh;
    background-color: $background;
    &__title {
        padding: 0 105px 0 150px;
    }
    &__content {
        height: 700px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    &__item {
        position: absolute;
        bottom: 0;
        margin-bottom: 50px;
        left: 50%;
        margin-left: -20px;
        &:hover {
            transform: scale(1.3);
        }
    }
}